%h2 Watchlist
- unless @movies.empty?
  = render partial: 'movies', locals: { movies: @movies }
- else
  %p
    Your watchlist is empty. Search for your favorites movies and add them to your watchlist.