- unless @movies.empty?
  :plain
    $("#movies").html("#{escape_javascript(render partial: 'movies', locals: { movies: @movies })}");
- else
  :plain
    $("#movies").html("#{escape_javascript(render partial: 'no_results')}");