- unless @movies.empty?
  :plain
    $("#content").html("#{escape_javascript(render partial: 'movies', locals: { movies: @movies })}");
- else
  :plain
    $("#content").html("#{escape_javascript(render partial: 'no_results', locals: {term: @term})}");